/* --------------------------------------
*    Styles soley for the purpose of this example
*  -------------------------------------- */

body {
    font-family: sans-serif "Helvetica";
}

.example {
    border: 1px solid gray;
    padding: 10px;
    margin-bottom: 10px;
}

.example h2 {
    margin-top: 5px;
    font-family: "Courier New", Courier, monospace;
}

label {
    display: block;
    margin-top: 5px;
}

/* --------------------------------------
*    Autocomplete Field Styles
*  -------------------------------------- */
.autocomplete-dropdown {
    background-color: white;
    border: 1px solid #25a8e0;
    border-top-width: 0;
    margin: 1px 0 2px 0;
    padding: 0;
    position: absolute;
    z-index: 2900;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 5px rgba(64, 56, 41, 0.4);
    -moz-box-shadow: 0px 1px 5px rgba(64, 56, 41, 0.4);
    box-shadow: 0px 1px 5px rgba(64, 56, 41, 0.4);
}

.autocomplete-dropdown li {
    list-style: none;
    width: 100%;
    padding-left: 10px;
}

.autocomplete-dropdown li:hover {
    background-color: #ccc;
}

.autocomplete-dropdown .highlighted {
    background-color: #25a8e0;
    color: white;
}

/* --------------------------------------
*    Flash Styles
*  -------------------------------------- */

.flash-container {
    position: fixed;
    top: 0;
    margin: auto;
    width: 100%;
    text-align: center;
    z-index: 9100;
}

.flash-errors, .flash-notices, .flash-successes {
    position: relative;
    -moz-border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid;
    border-top: 0;
    font-size: 1em;
    font-weight: normal;
    margin: auto auto 5px;
    padding: 1em;
    text-align: center;
    max-width: 50%;
}

.flash-errors {
    background: #ff6555;
    color: #a64237;
    border-color: #a64237;
}

.flash-notices {
    background-color: #ce9853;
    color: #9c5c2b;
    border-color: #9c5c2b;
}

.flash-successes {
    background-color: #67f091;
    color: #49a966;
    border-color: #49a966;
}

.flash-close {
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px;
}

a.flash-close:hover {
    color: white;
    cursor: pointer;
}

p.flash-error, p.flash-notice, p.flash-success {
    margin: 0;
}

/* --------------------------------------
*    Forms Styles
*  -------------------------------------- */

p.field-errors {
    margin: 0;
    padding: 0;
    color: #E03725;
}

.field-error {
    border: 1px solid #E03725;
}

/* --------------------------------------
*    Modal Styles
*  -------------------------------------- */

.modal-backdrop {
    position: fixed;
    overflow-y: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9000;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.modal {
    outline: none;
    aria-hidden: true;
    z-index: 9001;
    overflow: visible;
    max-width: 800px;
    width: 90%;
    margin: 100px auto 0 auto;
    background-color: #ffffff;

    /*IE6-7*/
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.modal-header {
    padding: 1em 1em 0;
}

.modal-header button {
    float: right;
    font-size: 1.2em;
    font-weight: 600;
    background: transparent;
    padding: 0;
    margin: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    cursor: pointer;
    color: #333;
}

.modal-header h3 {
    width: 95%;
    display: inline-block;
}

.modal-body {
    clear: both;
    max-height: 85%;
    overflow-y: auto;
    padding: 1em;
}